<template>
    <div>
        <navbar></navbar>

        <div class="container-fluid">
            <router-view></router-view>
        </div>

    </div>
</template>

<script>
export default {
    name: "App"
}
</script>

